.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #111;
    color: white;
}

.left,
.right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user {
    font-weight: 600;
}

.credits {
    background: #1f1f1f;
    padding: 5px 10px;
    border-radius: 6px;
}